/* Vars */
/* sizes */
/* colors */
/* ___________________________________________ */
:root {
  /* override sanitize.css rule */
  background-color: inherit;
}
.container {
  margin: 0 auto;
  width: 1000px;
}
@media (max-width: 1012px) {
  .container {
    width: 100%;
  }
}
body {
  background-color: #6a4c57;
  font-family: 'Roboto Slab', serif;
  font-size: 12pt;
  line-height: 1.5em;
  margin: 0;
  padding: 0 6px;
}
@media (max-width: 480px) {
  body {
    padding: 0;
  }
}
header {
  display: flex;
  justify-content: space-between;
  padding: 2em 6px;
}
header a {
  text-decoration: none;
}
header .title-block {
  flex: 1;
  text-align: left;
}
header .title-block .title-span {
  display: inline-block;
  position: relative;
}
header .title-block .title-span a.title {
  font-family: 'Roboto Mono', monospace;
  font-size: 2.0em;
  color: #fff;
}
header .title-block .title-span a.rss {
  color: #ffc33d;
  font-size: 1.0em;
  position: absolute;
  top: -0.5em;
  right: -1.2em;
}
header .title-block .title-span a.rss:hover {
  color: #fff;
}
header .title-block .subtitle {
  font-size: 1.0em;
  color: #a3a19c;
  display: block;
  padding: .5em 0;
}
.ContentBorders {
  border-left: 2px solid #6d8cc7;
  border-right: 2px solid #6d8cc7;
}
@media (max-width: 480px) {
  .ContentBorders {
    border-left: 0 none;
    border-right: 0 none;
  }
}
nav.menubar {
  border-top: 6px solid #6d8cc7;
  background-color: #fff;
  color: #fff;
  border-left: 2px solid #6d8cc7;
  border-right: 2px solid #6d8cc7;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 480px) {
  nav.menubar {
    border-left: 0 none;
    border-right: 0 none;
  }
}
@media (max-width: 480px) {
  nav.menubar {
    padding-left: -6px;
    padding-right: -6px;
  }
}
nav.menubar ul {
  margin-top: -6px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
nav.menubar ul li {
  display: inline-block;
  font-weight: normal;
}
nav.menubar ul li a {
  border-top: 6px solid #6d8cc7;
  display: block;
  padding: 0 12px 0;
  color: #6a4c57;
  text-decoration: none;
}
nav.menubar ul li a:hover {
  border-top: 6px solid #ffc33d;
  color: #333;
}
nav.menubar ul li a > span {
  display: inline;
  border-bottom: 1px dotted;
}
nav.menubar ul .spacer {
  flex: 1;
}
main {
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 64px;
  color: #333;
  flex: 1;
  border-left: 2px solid #6d8cc7;
  border-right: 2px solid #6d8cc7;
  padding-left: 32px;
  padding-right: 32px;
}
@media (max-width: 480px) {
  main {
    border-left: 0 none;
    border-right: 0 none;
  }
}
@media (max-width: 480px) {
  main {
    padding-left: 6px;
    padding-right: 6px;
  }
}
main .single-header {
  margin-top: .5em;
  margin-bottom: 1em;
}
main .single-header h1 {
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0;
}
main .single-header h1 a {
  color: #333;
  text-decoration: none;
}
main .single-header h1 a:hover {
  color: #6a4c57;
}
main .single-header .meta {
  font-size: 0.8em;
  color: #868480;
}
main .single-header .transparent {
  opacity: .5;
}
main .list-header {
  margin-top: .5em;
  margin-bottom: 1em;
}
main .list-header .tags {
  display: inline;
  margin-left: 1em;
}
main .list-header h1 {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0;
}
main .list-header h1 a {
  color: #333;
  text-decoration: none;
}
main .list-header h1 a:hover {
  color: #6a4c57;
}
main .list-header .meta {
  font-size: 0.8em;
  color: #868480;
}
main .list-header .transparent {
  opacity: .5;
}
main .summary {
  margin-top: 3em;
}
main .summary:first-of-type {
  margin-top: 0;
}
main .read-more-link {
  margin: .5em 0;
}
main .tags {
  color: #6a4c57;
  font-size: .9em;
}
main .tags .label {
  margin-right: .5em;
}
main .tags a {
  color: #6a4c57;
  padding: 0 2px;
  border-bottom: 1px dotted;
  text-decoration: none;
  margin: 0;
}
main .tags a:hover {
  color: #868480;
}
main article {
  word-wrap: break-word;
  margin-bottom: 1em;
}
main a {
  color: #6d8cc7;
  text-decoration: underline dotted;
}
main a:hover {
  color: #5e78ac;
}
main blockquote {
  border-left: 2px solid #6d8cc7;
  padding-left: 32px;
  background-color: #f5f5f5;
  font-size: .9em;
}
main code.hljs {
  border: 1px solid #ccc;
  font-size: 0.8em;
}
main code {
  background-color: #f5f5f5;
  border: 1px solid #eee;
  font-size: 1em;
}
main h1 {
  font-size: 1.75em;
}
main h2 {
  font-size: 1.5em;
}
main h3 {
  font-size: 1.5em;
  color: #6a4c57;
}
main h4 {
  font-size: 1.2em;
  color: #6a4c57;
}
main h5 {
  font-size: 1.0em;
  font-weight: bold;
}
main h6 {
  font-size: 1.0em;
  font-weight: bold;
  color: #6a4c57;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  line-height: 1.5em;
  font-weight: normal;
}
main table {
  border-spacing: 0;
  min-width: 60%;
  margin: .5em auto;
  border: 1px solid #BCC1C8;
  border-top: 0 none;
  border-left: 0 none;
  font-size: .9em;
}
main table th {
  font-weight: bold;
  text-align: left;
  padding: 0 4px;
  border-top: 1px solid #BCC1C8;
  border-left: 1px solid #BCC1C8;
  background-color: #D4DBE6;
}
main table td {
  padding: 0 4px;
  border-top: 1px solid #BCC1C8;
  border-left: 1px solid #BCC1C8;
}
main p {
  line-height: 1.8em;
  margin-top: 1em;
  margin-bottom: .3em;
}
main ul,
main ol {
  margin-left: 1em;
  margin-bottom: .3em;
}
main li {
  line-height: 1.75em;
}
nav.paging {
  background-color: #fff;
  padding-left: 32px;
  padding-right: 32px;
  border-left: 2px solid #6d8cc7;
  border-right: 2px solid #6d8cc7;
  padding-bottom: 64px;
}
@media (max-width: 480px) {
  nav.paging {
    padding-left: 6px;
    padding-right: 6px;
  }
}
@media (max-width: 480px) {
  nav.paging {
    border-left: 0 none;
    border-right: 0 none;
  }
}
nav.paging a {
  color: #6d8cc7;
  text-decoration: underline dotted;
}
nav.paging a:hover {
  color: #5e78ac;
}
nav.paging .label {
  color: #868480;
  font-size: 1.2em;
  margin-bottom: .5em;
}
nav.paging .direction {
  color: #6a4c57;
}
nav.paging .item {
  margin-top: .5em;
}
article.comments {
  background-color: #fff;
  color: #333;
  border-left: 2px solid #6d8cc7;
  border-right: 2px solid #6d8cc7;
  padding-left: 32px;
  padding-right: 32px;
}
@media (max-width: 480px) {
  article.comments {
    border-left: 0 none;
    border-right: 0 none;
  }
}
@media (max-width: 480px) {
  article.comments {
    padding-left: 6px;
    padding-right: 6px;
  }
}
footer {
  text-align: center;
  color: #868480;
  padding: 32px;
  border-top: 2px solid #6d8cc7;
}
footer a {
  color: #868480;
  text-decoration: underline dotted;
}
footer a:hover {
  color: #a3a19c;
}
footer .copyright {
  margin: .5em 0;
  font-size: .9em;
}
footer .copyright .author {
  font-weight: normal;
}
footer .social {
  vertical-align: middle;
}
footer .social a {
  font-size: 1.5em;
  margin: 0 .3em;
  text-decoration: none;
  color: #868480;
}
footer .social a:hover {
  color: #a3a19c;
}
footer .poweredby {
  margin: .5em 0;
  font-size: .9em;
}
