/* theme sizes */
/* theme colors */
/* logo */
/* body */
/* main */
/* ___________________________________________ */
:root {
  background-color: inherit;
}
.container {
  margin: 0 auto;
  width: 780px;
}
@media (max-width: 780px) {
  .container {
    width: 100%;
  }
}
body {
  background-color: #fff;
  font-family: 'Source Sans Pro', serif;
  font-size: 14pt;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0;
  padding: 0 0px;
}
header {
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
}
header .title-block {
  padding: 10px;
  flex: 1;
  text-align: left;
  background-color: #6a4c57;
  box-shadow: #000 2px 2px;
  margin-right: 2px;
}
header .title-block .title-span {
  display: inline-block;
  position: relative;
}
header .title-block .title-span a.title {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.0em;
  color: #ddd;
}
header .title-block .title-span a.title .prompt {
  color: #ff878e;
}
header .title-block .title-span a.title .user {
  color: #56ff63;
}
header .title-block .title-span a.title .host {
  color: #6d8cc7;
}
header .title-block .title-span a.title .cwd {
  color: #fffb05;
}
header .title-block .title-span a.title .cursor {
  opacity: 0;
  animation: cursor 1s infinite;
}
@keyframes cursor {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.BracedAnchors a {
  display: inline-block;
}
.BracedAnchors a:before {
  content: '[';
}
.BracedAnchors a:after {
  content: ']';
}
main {
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #000;
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}
main .post-title-wrapper {
  margin-top: .5em;
  margin-bottom: 1em;
}
main .post-title-wrapper h1 {
  font-size: 1.75em;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
}
main .post-title-wrapper h1 a {
  color: #000;
  text-decoration: none;
}
main .post-title-wrapper h1 a:hover {
  color: #6a4c57;
}
main .post-title-wrapper .post-title-meta {
  font-size: 0.8em;
  color: #868480;
}
main#list .post-title-wrapper .post-tags-list {
  display: inline;
  margin-left: 1em;
}
main#list .post-title-wrapper h1 {
  font-size: 1.2em;
}
main#index .summary {
  margin-top: 3em;
}
main#index .summary:first-of-type {
  margin-top: 0;
}
main#index .read-more-link {
  margin: 1.5em 0;
}
main#index .read-more-link a {
  background-color: #6a4c57;
  border-radius: 6px;
  color: #fff;
  padding: .2em .5em;
  position: relative;
  text-decoration: none;
}
main#index .read-more-link a:hover {
  background-color: #868480;
  color: #fff;
}
main#index .read-more-link a:active {
  left: 1px;
  top: 1px;
}
main .post-tags-list {
  color: #6a4c57;
  font-size: .9em;
  margin: 1.0em 0;
}
main .post-tags-list .label {
  margin-right: .5em;
}
main .post-tags-list a {
  color: #6a4c57;
  padding: 0 2px;
  border-bottom: 1px dotted;
  text-decoration: none;
  margin: 0;
  font-weight: 300;
}
main .post-tags-list a:hover {
  color: #868480;
}
main article {
  word-wrap: break-word;
  margin-bottom: 1em;
}
main article a {
  display: inline-block;
}
main article a:before {
  content: '[';
}
main article a:after {
  content: ']';
}
main a {
  color: #6d8cc7;
  font-weight: 400;
  text-decoration: none;
}
main a:hover {
  color: #739dff;
}
main blockquote {
  border-left: 2px solid #6d8cc7;
  padding-left: 10px;
  background-color: #f5f5f5;
  font-size: .9em;
  margin: 10px;
}
main code.hljs {
  border: 1px solid #ccc;
  font-size: 0.8em;
}
main code {
  background-color: #f5f5f5;
  border: 1px solid #eee;
  font-family: 'Roboto Mono', monospace;
  font-size: .9em;
}
main h1 {
  font-size: 1.75em;
}
main h2 {
  font-size: 1.5em;
}
main h3 {
  font-size: 1.5em;
  color: #6a4c57;
}
main h4 {
  font-size: 1.2em;
  color: #6a4c57;
}
main h5 {
  font-size: 1.0em;
  font-weight: bold;
}
main h6 {
  font-size: 1.0em;
  font-weight: bold;
  color: #6a4c57;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
  margin-top: 1.5em;
  margin-bottom: 1em;
  line-height: 1.5em;
  font-weight: normal;
}
main p {
  line-height: 1.8em;
  margin-top: 1em;
  margin-bottom: .3em;
}
main ul,
main ol {
  margin-left: 1em;
  margin-bottom: .3em;
}
main li {
  line-height: 1.75em;
}
article.comments {
  background-color: #fff;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}
footer {
  background-color: #fff;
  padding-top: 32px;
}
footer .footer-content {
  background-color: #f5f5f5;
  color: #bbb;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
footer .footer-content .footer-copyright-info {
  font-size: .9em;
  font-weight: 400;
  display: flex;
  flex: 1;
}
footer .footer-content .footer-social-buttons {
  display: flex;
}
footer .footer-content .footer-social-buttons a {
  font-size: 1.5em;
  margin: 0 .3em;
  text-decoration: none;
  color: #ccc;
}
footer .footer-content .footer-social-buttons a:hover {
  color: #6a4c57;
}
